@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 59 130 246;
  }

 body {
  @apply bg-background text-foreground;
  font-family: 'Geist Variable', sans-serif;
}

/* Nếu muốn border mặc định cho input, button thôi */
input, button, select, textarea {
  @apply border-border;
}
}