USE [master]
GO
CREATE DATABASE [AudioGo]
GO
USE [AudioGo]
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[SubscriptionPlanId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppAccessCode]    Script Date: 4/13/2026 10:57:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppAccessCode](
	[CodeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[UsedByDeviceId] [nvarchar](max) NULL,
	[ActivatedAt] [datetime2](7) NULL,
	[ExpireAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[DurationDay] [int] NULL,
 CONSTRAINT [PK_AppAccessCode] PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/13/2026 10:57:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[LocalizedName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryPoi]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryPoi](
	[CategoryId] [nvarchar](255) NOT NULL,
	[PoiId] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListenHistory]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListenHistory](
	[HistoryId] [nvarchar](255) NOT NULL,
	[DeviceId] [nvarchar](255) NOT NULL,
	[PoiId] [nvarchar](255) NOT NULL,
	[Timestamp] [datetime] NULL,
	[ListenDuration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationLog]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationLog](
	[LocationId] [nvarchar](255) NOT NULL,
	[DeviceId] [nvarchar](255) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerSubscription]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerSubscription](
	[SubscriptionId] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[PlanId] [nvarchar](450) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[AutoRenew] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_OwnerSubscription] PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[TransactionId] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](255) NULL,
	[PlanId] [nvarchar](450) NOT NULL,
	[SubscriptionId] [nvarchar](450) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[Gateway] [nvarchar](max) NOT NULL,
	[GatewayTransId] [nvarchar](450) NULL,
	[GatewayStatus] [nvarchar](max) NULL,
	[GatewayPayload] [nvarchar](max) NULL,
	[Status] [nvarchar](450) NOT NULL,
	[ActivationCodeId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
	[ContactInfo] [nvarchar](500) NULL,
 CONSTRAINT [PK_PaymentTransaction] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Poi]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poi](
	[PoiId] [nvarchar](255) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[ActivationRadius] [int] NULL,
	[Priority] [int] NULL,
	[LogoUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiContent]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiContent](
	[ContentId] [nvarchar](255) NOT NULL,
	[PoiId] [nvarchar](255) NOT NULL,
	[LanguageCode] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AudioUrl] [nvarchar](255) NULL,
	[IsMaster] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiGallery]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiGallery](
	[ImageId] [nvarchar](255) NOT NULL,
	[PoiId] [nvarchar](255) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiRequest]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiRequest](
	[RequestId] [nvarchar](255) NOT NULL,
	[PoiId] [nvarchar](255) NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ProposedData] [nvarchar](max) NULL,
	[RejectReason] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_PoiRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlan]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlan](
	[PlanId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DurationDay] [int] NOT NULL,
	[MaxPoiCount] [int] NOT NULL,
	[AutoPriority] [int] NOT NULL,
	[Features] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SubscriptionPlan] PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[TourId] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ThumbnailUrl] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[LocalizedName] [nvarchar](max) NULL,
	[LocalizedDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPoi]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPoi](
	[TourId] [nvarchar](255) NOT NULL,
	[PoiId] [nvarchar](255) NOT NULL,
	[StepOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourId] ASC,
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260326115213_Initial', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260409031912_UpdateAccountAndPoiModels', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260411084047_AddPoiRequestTable', N'9.0.0')
GO
INSERT [dbo].[Account] ([AccountId], [Username], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [FullName], [Email], [PhoneNumber], [IsLocked], [SubscriptionPlanId]) VALUES (N'0914a185-fc17-441f-a501-09bb6753ca17', N'abc', N'$2a$11$qdJs/yfxXIpSRpsiBn.Ktu9BlJ0/ery15I9ySUSi4g4hjQKjC2zN2', N'Owner', CAST(N'2026-04-16T06:00:42.783' AS DateTime), CAST(N'2026-05-03T18:58:13.353' AS DateTime), N'Trần Văn Ơn', N'abc123@gmail.com', N'0932832323', 0, N'basic')
INSERT [dbo].[Account] ([AccountId], [Username], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [FullName], [Email], [PhoneNumber], [IsLocked], [SubscriptionPlanId]) VALUES (N'0e248607-175b-4caf-b978-6edf6df6b1d9', N'admin', N'$2a$11$bgHUMBWw2FQBWOcS7QHNc.GLMTlE9EBV6LIz5zOgNyKYwO7.fjTgS', N'Admin', CAST(N'2026-03-22T10:02:23.470' AS DateTime), CAST(N'2026-05-01T19:34:59.230' AS DateTime), N'Nguyễn Tiến An', N'abc@gmail.com', N'0972699242', 0, N'basic')
INSERT [dbo].[Account] ([AccountId], [Username], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [FullName], [Email], [PhoneNumber], [IsLocked], [SubscriptionPlanId]) VALUES (N'9d9cc11d-e2f8-4910-bf6c-19d23a0ec710', N'test', N'$2a$11$Pqgq6Hw17FrBbwqJ9Fy2DOzhOubTjJxBDFnow3bU.5j9vZ8v07b9W', N'Owner', CAST(N'2026-04-16T17:43:50.637' AS DateTime), CAST(N'2026-04-16T17:43:50.637' AS DateTime), N'Nguyễn Văn Bứ', N'sadaksndkas@gmail.com', N'1', 0, N'basic')
GO
SET IDENTITY_INSERT [dbo].[AppAccessCode] ON 

INSERT [dbo].[AppAccessCode] ([CodeId], [Code], [UsedByDeviceId], [ActivatedAt], [ExpireAt], [CreatedAt], [Type], [DurationDay]) VALUES (5, N'AUDIOGO-TEST-2026-QR01', N'81E3ACD08466C78A', CAST(N'2026-04-14T15:15:57.1638580' AS DateTime2), CAST(N'2026-04-21T15:15:57.1638981' AS DateTime2), CAST(N'2026-04-12T17:09:58.0000000' AS DateTime2), N'TRIAL', NULL)
INSERT [dbo].[AppAccessCode] ([CodeId], [Code], [UsedByDeviceId], [ActivatedAt], [ExpireAt], [CreatedAt], [Type], [DurationDay]) VALUES (6, N'AUDIOGO-TEST-2026-QR02', N'218E5F08C88AFE37', CAST(N'2026-04-14T09:44:04.2287634' AS DateTime2), CAST(N'2026-04-21T09:44:04.2288312' AS DateTime2), CAST(N'2026-04-12T17:09:58.0000000' AS DateTime2), N'TRIAL', NULL)
INSERT [dbo].[AppAccessCode] ([CodeId], [Code], [UsedByDeviceId], [ActivatedAt], [ExpireAt], [CreatedAt], [Type], [DurationDay]) VALUES (8, N'BQO28JU1', N'9CD85A1A848172B0', CAST(N'2026-04-17T02:46:39.3710864' AS DateTime2), CAST(N'2026-04-24T02:46:39.3710872' AS DateTime2), CAST(N'2026-04-16T11:11:24.5754476' AS DateTime2), N'TRIAL', NULL)
SET IDENTITY_INSERT [dbo].[AppAccessCode] OFF
GO
INSERT [dbo].[Category] ([CategoryId], [Name], [CreatedAt], [UpdatedAt], [LocalizedName]) VALUES (N'cat-001', N'Di tích lịch sử', CAST(N'2026-03-19T14:11:46.267' AS DateTime), CAST(N'2026-05-04T00:50:23.043' AS DateTime), N'{"vi":"Di t\u00EDch l\u1ECBch s\u1EED","en":"Historical relic","ja":"\u53F2\u8DE1","ko":"\uC0AC\uC801","zh-Hans":"\u5386\u53F2\u9057\u8FF9","fr":"Vestige historique","th":"\u0E42\u0E1A\u0E23\u0E32\u0E13\u0E2A\u0E16\u0E32\u0E19"}')
INSERT [dbo].[Category] ([CategoryId], [Name], [CreatedAt], [UpdatedAt], [LocalizedName]) VALUES (N'cat-002', N'Ẩm thực', CAST(N'2026-03-19T14:11:46.267' AS DateTime), CAST(N'2026-05-04T00:50:32.410' AS DateTime), N'{"vi":"\u1EA8m th\u1EF1c","en":"Cuisine","ja":"\u6599\u7406","ko":"\uC694\uB9AC","zh-Hans":"\u7F8E\u98DF","fr":"Cuisine","th":"\u0E2D\u0E32\u0E2B\u0E32\u0E23"}')
GO
INSERT [dbo].[CategoryPoi] ([CategoryId], [PoiId]) VALUES (N'cat-001', N'poi-001')
INSERT [dbo].[CategoryPoi] ([CategoryId], [PoiId]) VALUES (N'cat-001', N'poi-003')
INSERT [dbo].[CategoryPoi] ([CategoryId], [PoiId]) VALUES (N'cat-001', N'poi-005')
GO
INSERT [dbo].[LocationLog] ([LocationId], [DeviceId], [Latitude], [Longitude], [Timestamp]) VALUES (N'218E5F08C88AFE37_fc57ab32f0b44bb0ba6c4b44dbb947a2', N'218E5F08C88AFE37', 10.759035, 106.70119333333334, CAST(N'2026-05-02T14:15:13.593' AS DateTime))
INSERT [dbo].[LocationLog] ([LocationId], [DeviceId], [Latitude], [Longitude], [Timestamp]) VALUES (N'218E5F08C88AFE37_fc67cbb1358b4b92a7709bb497e40160', N'218E5F08C88AFE37', 10.761858333333333, 106.702235, CAST(N'2026-05-02T10:16:49.257' AS DateTime))
INSERT [dbo].[LocationLog] ([LocationId], [DeviceId], [Latitude], [Longitude], [Timestamp]) VALUES (N'218E5F08C88AFE37_fc7164a57f914320965be89e36f18088', N'218E5F08C88AFE37', 10.761858333333333, 106.702235, CAST(N'2026-05-02T04:29:58.690' AS DateTime))
GO
INSERT [dbo].[Poi] ([PoiId], [AccountId], [Latitude], [Longitude], [ActivationRadius], [Priority], [LogoUrl], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (N'poi-001', N'acc-admin-001', 10.7619, 106.7009, 80, 1, N'https://audiogostorage2026.blob.core.windows.net/images/pois/poi-001-logo.jpg', CAST(N'2026-03-19T14:11:46.270' AS DateTime), CAST(N'2026-04-20T07:40:58.663' AS DateTime), 1)
INSERT [dbo].[Poi] ([PoiId], [AccountId], [Latitude], [Longitude], [ActivationRadius], [Priority], [LogoUrl], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (N'poi-002', N'acc-admin-001', 10.7583, 106.7042, 100, 2, N'https://audiogostorage2026.blob.core.windows.net/images/pois/poi-002-logo.jpg', CAST(N'2026-03-19T14:11:46.270' AS DateTime), CAST(N'2026-04-09T11:26:56.700' AS DateTime), 1)
INSERT [dbo].[Poi] ([PoiId], [AccountId], [Latitude], [Longitude], [ActivationRadius], [Priority], [LogoUrl], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (N'poi-003', N'acc-admin-001', 10.7648, 106.6981, 60, 3, N'https://audiogostorage2026.blob.core.windows.net/images/pois/poi-003-logo.jpg', CAST(N'2026-03-19T14:11:46.270' AS DateTime), CAST(N'2026-05-06T12:32:07.267' AS DateTime), 0)
GO
INSERT [dbo].[PoiContent] ([ContentId], [PoiId], [LanguageCode], [Title], [Description], [AudioUrl], [IsMaster], [CreatedAt], [UpdatedAt]) VALUES (N'11254f1b-3235-4bdd-8c7c-577322d0187c', N'poi-003', N'zh-Hans', N'麻村——百年织布行业', N'踏入Xom Chieu就像进入另一个维度——织机咔哒作响，干草和晒干纱线的气味充满巷子。自法国殖民时代以来，这里的居民一直从事传统的莎草编织职业，这一职业代代相传。如今，仅剩大约20户家庭继续从事这一职业，但正是这种罕见使每一张Xom Chieu蓆成为活生生的遗产。清晨工匠们织布时，你可以直接在制造商那里购买手工垫子。', N'https://audiogostorage2026.blob.core.windows.net/audio-files/poi-003/zh-Hans.mp3', 0, CAST(N'2026-04-07T02:28:18.300' AS DateTime), NULL)
INSERT [dbo].[PoiContent] ([ContentId], [PoiId], [LanguageCode], [Title], [Description], [AudioUrl], [IsMaster], [CreatedAt], [UpdatedAt]) VALUES (N'2cc1fcd1-4202-4f15-89e9-2113ee9a0dd6', N'poi-007', N'zh-Hans', N'高巴蟹汤——40多年守火', N'自1985年以来，巴·甘女士开始在Xom Chieu街销售蟹汤糕。至于女儿的生活，餐厅开设了固定场所，但配方依然保留：用炖骨头熬煮6小时的汤，上菜前加入香气熏蟹砖，每天凌晨3点开始手工研磨的汤面。特别碗里有更多鱼板、猪肉卷和鹌鹑蛋。最繁忙的时段是早上6点到8点和晚上11点——迟到的客人已经结束。价格从每碗45,000越南盾起。', N'https://audiogostorage2026.blob.core.windows.net/audio-files/poi-007/zh-Hans.mp3', 0, CAST(N'2026-04-07T02:29:34.807' AS DateTime), NULL)
GO
INSERT [dbo].[PoiGallery] ([ImageId], [PoiId], [ImageUrl], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (N'img-001-1', N'poi-001', N'https://audiogostorage2026.blob.core.windows.net/images/pois/poi-001-g1.jpg', 1, CAST(N'2026-03-28T00:07:15.940' AS DateTime), NULL)
INSERT [dbo].[PoiGallery] ([ImageId], [PoiId], [ImageUrl], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (N'img-001-2', N'poi-001', N'https://audiogostorage2026.blob.core.windows.net/images/pois/poi-001-g2.jpg', 2, CAST(N'2026-03-28T00:07:15.940' AS DateTime), NULL)
INSERT [dbo].[PoiGallery] ([ImageId], [PoiId], [ImageUrl], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (N'img-001-3', N'poi-001', N'https://audiogostorage2026.blob.core.windows.net/images/pois/poi-001-g3.jpg', 3, CAST(N'2026-03-28T00:07:15.940' AS DateTime), NULL)
GO
INSERT [dbo].[SubscriptionPlan] ([PlanId], [Name], [Price], [DurationDay], [MaxPoiCount], [AutoPriority], [Features], [IsActive], [CreatedAt]) VALUES (N'basic', N'Cơ bản', CAST(199000.00 AS Decimal(18, 2)), 30, 1, 1, N'[
  "sỡ hữu tối đa 1 poi",
  "Độ ưu tiên mặc định thấp"
]', 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[SubscriptionPlan] ([PlanId], [Name], [Price], [DurationDay], [MaxPoiCount], [AutoPriority], [Features], [IsActive], [CreatedAt]) VALUES (N'enterprise', N'Doanh nghiệp', CAST(999000.00 AS Decimal(18, 2)), 30, 10, 4, N'[
  "sỡ hữu tối đa 10 poi",
  "Ưu tiên cao nhất!"
]', 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[SubscriptionPlan] ([PlanId], [Name], [Price], [DurationDay], [MaxPoiCount], [AutoPriority], [Features], [IsActive], [CreatedAt]) VALUES (N'plus', N'Nâng cao', CAST(249000.00 AS Decimal(18, 2)), 30, 3, 2, N'[
  "sỡ hữu tối đa 3 poi",
  "Độ ưu tiên mặc định trung bình"
]', 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[TourPoi] ([TourId], [PoiId], [StepOrder]) VALUES (N'tour-001', N'poi-001', 1)
INSERT [dbo].[TourPoi] ([TourId], [PoiId], [StepOrder]) VALUES (N'tour-001', N'poi-002', 3)
INSERT [dbo].[TourPoi] ([TourId], [PoiId], [StepOrder]) VALUES (N'tour-001', N'poi-003', 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Account_Username]    Script Date: 5/6/2026 11:33:37 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ_Account_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account_SubscriptionPlanId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Account_SubscriptionPlanId] ON [dbo].[Account]
(
	[SubscriptionPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AppAccessCode_Code]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AppAccessCode_Code] ON [dbo].[AppAccessCode]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ListenHistory_DeviceId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListenHistory_DeviceId] ON [dbo].[ListenHistory]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ListenHistory_DeviceId_Timestamp]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListenHistory_DeviceId_Timestamp] ON [dbo].[ListenHistory]
(
	[DeviceId] ASC,
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ListenHistory_PoiId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListenHistory_PoiId] ON [dbo].[ListenHistory]
(
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListenHistory_Timestamp]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListenHistory_Timestamp] ON [dbo].[ListenHistory]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LocationLog_DeviceId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_LocationLog_DeviceId] ON [dbo].[LocationLog]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LocationLog_DeviceId_Timestamp]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_LocationLog_DeviceId_Timestamp] ON [dbo].[LocationLog]
(
	[DeviceId] ASC,
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationLog_Timestamp]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_LocationLog_Timestamp] ON [dbo].[LocationLog]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OwnerSubscription_Account_Active]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OwnerSubscription_Account_Active] ON [dbo].[OwnerSubscription]
(
	[AccountId] ASC
)
WHERE ([Status]='ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OwnerSubscription_AccountId_Status]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_OwnerSubscription_AccountId_Status] ON [dbo].[OwnerSubscription]
(
	[AccountId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OwnerSubscription_PlanId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_OwnerSubscription_PlanId] ON [dbo].[OwnerSubscription]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransaction_AccountId_Status]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_AccountId_Status] ON [dbo].[PaymentTransaction]
(
	[AccountId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransaction_ActivationCodeId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_ActivationCodeId] ON [dbo].[PaymentTransaction]
(
	[ActivationCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransaction_GatewayTransId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_GatewayTransId] ON [dbo].[PaymentTransaction]
(
	[GatewayTransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransaction_PlanId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_PlanId] ON [dbo].[PaymentTransaction]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransaction_SubscriptionId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_SubscriptionId] ON [dbo].[PaymentTransaction]
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Poi_AccountId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Poi_AccountId] ON [dbo].[Poi]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PoiContent_Poi_Lang]    Script Date: 5/6/2026 11:33:37 PM ******/
ALTER TABLE [dbo].[PoiContent] ADD  CONSTRAINT [UQ_PoiContent_Poi_Lang] UNIQUE NONCLUSTERED 
(
	[PoiId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiContent_LanguageCode]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PoiContent_LanguageCode] ON [dbo].[PoiContent]
(
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiContent_PoiId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PoiContent_PoiId] ON [dbo].[PoiContent]
(
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiGallery_PoiId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PoiGallery_PoiId] ON [dbo].[PoiGallery]
(
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiRequest_AccountId]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PoiRequest_AccountId] ON [dbo].[PoiRequest]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiRequest_PoiId_Status]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PoiRequest_PoiId_Status] ON [dbo].[PoiRequest]
(
	[PoiId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PoiRequest_Status]    Script Date: 5/6/2026 11:33:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PoiRequest_Status] ON [dbo].[PoiRequest]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('Manager') FOR [Role]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (N'') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('basic') FOR [SubscriptionPlanId]
GO
ALTER TABLE [dbo].[AppAccessCode] ADD  DEFAULT ('TRIAL') FOR [Type]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ListenHistory] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[LocationLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT ('TOURIST_ACCESS') FOR [PaymentType]
GO
ALTER TABLE [dbo].[Poi] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Poi] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[PoiContent] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PoiGallery] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PoiRequest] ADD  CONSTRAINT [DF_PoiRequest_ApprovalStatus]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[PoiRequest] ADD  CONSTRAINT [DF_PoiRequest_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_SubscriptionPlan_SubscriptionPlanId] FOREIGN KEY([SubscriptionPlanId])
REFERENCES [dbo].[SubscriptionPlan] ([PlanId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_SubscriptionPlan_SubscriptionPlanId]
GO
ALTER TABLE [dbo].[CategoryPoi]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[CategoryPoi]  WITH CHECK ADD FOREIGN KEY([PoiId])
REFERENCES [dbo].[Poi] ([PoiId])
GO
ALTER TABLE [dbo].[ListenHistory]  WITH CHECK ADD FOREIGN KEY([PoiId])
REFERENCES [dbo].[Poi] ([PoiId])
GO
ALTER TABLE [dbo].[OwnerSubscription]  WITH CHECK ADD  CONSTRAINT [FK_OwnerSubscription_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[OwnerSubscription] CHECK CONSTRAINT [FK_OwnerSubscription_Account_AccountId]
GO
ALTER TABLE [dbo].[OwnerSubscription]  WITH CHECK ADD  CONSTRAINT [FK_OwnerSubscription_SubscriptionPlan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[SubscriptionPlan] ([PlanId])
GO
ALTER TABLE [dbo].[OwnerSubscription] CHECK CONSTRAINT [FK_OwnerSubscription_SubscriptionPlan_PlanId]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_Account_AccountId]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_AppAccessCode_ActivationCodeId] FOREIGN KEY([ActivationCodeId])
REFERENCES [dbo].[AppAccessCode] ([CodeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_AppAccessCode_ActivationCodeId]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_OwnerSubscription_SubscriptionId] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[OwnerSubscription] ([SubscriptionId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_OwnerSubscription_SubscriptionId]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_SubscriptionPlan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[SubscriptionPlan] ([PlanId])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_SubscriptionPlan_PlanId]
GO
ALTER TABLE [dbo].[PoiContent]  WITH CHECK ADD FOREIGN KEY([PoiId])
REFERENCES [dbo].[Poi] ([PoiId])
GO
ALTER TABLE [dbo].[PoiGallery]  WITH CHECK ADD FOREIGN KEY([PoiId])
REFERENCES [dbo].[Poi] ([PoiId])
GO
ALTER TABLE [dbo].[PoiRequest]  WITH CHECK ADD  CONSTRAINT [FK_PoiRequest_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[PoiRequest] CHECK CONSTRAINT [FK_PoiRequest_Account_AccountId]
GO
ALTER TABLE [dbo].[PoiRequest]  WITH CHECK ADD  CONSTRAINT [FK_PoiRequest_Poi_PoiId] FOREIGN KEY([PoiId])
REFERENCES [dbo].[Poi] ([PoiId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PoiRequest] CHECK CONSTRAINT [FK_PoiRequest_Poi_PoiId]
GO
ALTER TABLE [dbo].[TourPoi]  WITH CHECK ADD FOREIGN KEY([PoiId])
REFERENCES [dbo].[Poi] ([PoiId])
GO
ALTER TABLE [dbo].[TourPoi]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tour] ([TourId])
GO
/****** Object:  StoredProcedure [dbo].[SP_GetHeatmapData]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_GetHeatmapData]
    @FromDate DATETIME = NULL,
    @ToDate   DATETIME = NULL,
    @GridSize FLOAT    = 0.0001
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ROUND(Latitude  / @GridSize, 0) * @GridSize AS LatBucket,
        ROUND(Longitude / @GridSize, 0) * @GridSize AS LonBucket,
        COUNT(*)                                     AS PointCount
    FROM [LocationLog]
    WHERE
        (@FromDate IS NULL OR [Timestamp] >= @FromDate) AND
        (@ToDate   IS NULL OR [Timestamp] <= @ToDate)
    GROUP BY
        ROUND(Latitude  / @GridSize, 0) * @GridSize,
        ROUND(Longitude / @GridSize, 0) * @GridSize
    ORDER BY PointCount DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetPoiListenStats]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_GetPoiListenStats]
    @PoiId    NVARCHAR(255),
    @FromDate DATETIME = NULL,
    @ToDate   DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        @PoiId                              AS PoiId,
        COUNT(HistoryId)                    AS TotalListens,
        COUNT(DISTINCT DeviceId)            AS UniqueDevices,
        AVG(CAST(ListenDuration AS FLOAT))  AS AvgDurationSeconds,
        MIN([Timestamp])                    AS FirstListen,
        MAX([Timestamp])                    AS LastListen
    FROM [ListenHistory]
    WHERE PoiId = @PoiId
      AND (@FromDate IS NULL OR [Timestamp] >= @FromDate)
      AND (@ToDate   IS NULL OR [Timestamp] <= @ToDate);
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetTopPois]    Script Date: 5/6/2026 11:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_GetTopPois]
    @TopN     INT      = 10,
    @FromDate DATETIME = NULL,
    @ToDate   DATETIME = NULL,
    @LangCode NVARCHAR(10) = 'vi'
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@TopN)
        p.PoiId,
        pc.Title,
        COUNT(lh.HistoryId)                 AS ListenCount,
        AVG(CAST(lh.ListenDuration AS FLOAT)) AS AvgDurationSeconds,
        SUM(lh.ListenDuration)              AS TotalDurationSeconds
    FROM [Poi] p
    JOIN [PoiContent] pc ON p.PoiId = pc.PoiId AND pc.LanguageCode = @LangCode
    LEFT JOIN [ListenHistory] lh
        ON p.PoiId = lh.PoiId
        AND (@FromDate IS NULL OR lh.[Timestamp] >= @FromDate)
        AND (@ToDate   IS NULL OR lh.[Timestamp] <= @ToDate)
    WHERE p.Status = 'active'
    GROUP BY p.PoiId, pc.Title
    ORDER BY ListenCount DESC;
END

GO
USE [master]
GO
